
/* Définition des polices personnalisées */
@font-face
{
	font-family: 'Raleway', sans-serif;
}

html {
	width: 100%;

}

body {
	font-family: "Raleway", sans-serif;
	margin: auto;
	max-width: 100%;
}


/*Bloc Page*
body
{
	font-family: "Raleway";
    display: flex;
    flex-direction: column;
	margin: 0;
	width: 1440px;
}

.page
{
    width: 1440px;
}

/* Link */

a:link, a:visited, a:focus
{
	background: white;
}

a:hover
{
	color: #0065FC;
	font-weight: 500;
}

a:active
{
	color: black;
}

a
{
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight:500;
	cursor: pointer;
}


/*Header*/


header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 18px;
}

.logo {
    margin: 20px 0;
    width: 100px;
    height: auto;
    float:left;
} 


.menu {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
}

.menu nav {
	display: flex;
}

.menu li {
	margin: 0 20px ;
}

.menu a {
	margin: 20px ;
}

nav ul {
	display: flex;
}

ul {
	margin: 0;
    list-style-type: none;
}

.sinscrire a {
	color: #0065FC;
	font-weight: bold;
}

.menu li:hover {
    border-top : 1px solid #0065FC;
}



/* boutons hebergement et activites*/
.boutons
{
	display: flex;
}

.boutons :hover
{
	border-top : 1px solid #0065FC;
}

.navigation a
{
	padding: 40px 30px 0 30px;
}

.navigation a:hover
{
	padding: 38px 30px 0 30px;
}

/* bouton s'incrire */
.bouton2
{
	color: #0065FC;
	font-weight: 700;
}

.bouton2 a
{
	color: #0065FC;
	font-weight: 700;
}

.bouton2 a:hover
{
	padding: 40px 30px 0 30px;
}
/*Recherche*/

.recherche h1
{
	font-size: 22px;
}

.map
{
	display:flex;
}

form {
    display: flex;
}

.fa-map-marker-alt
{
	margin-top: 20px;
}

.fa-map-marker-alt:before
{
	font-size: 1em;
	padding : 18px ;
	background-color: #F2F2F2;
	border-radius: 15px 0 0 15px;
}

.search
{
	display: flex;
	justify-content: baseline;
	border-color: #F2F2F2;
	border-style:solid;
	width: 230px ;
	height: 22px ;
	font-size: 18px;
	font-weight:700;
	padding: 13px;
	margin-top: 2px;
}

::placeholder
{
	color:black;
}

.submit
{
	font-family: 'Raleway';
	background-color: #0065FC;
	color: white;
	border-color:#0065FC ;
	border-style: solid;
	border-radius: 0 15px 15px 0;
	font-size: 15px;
	font-weight: 500;
	margin-top: 2px;
	padding: 10px;
	cursor: pointer;
}

/* Filtres */
.categories
{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.selection
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 30px;
	height: 44px ;
	margin: 20px 10px 10px 20px ;
}

.eco
{
	width: 180px;
}

.fam
{
	width: 130px;
}

.rom
{
	width: 170px;
}

.ani
{
	width: 220px;
}

.selection h5 a
{
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
}

.iconefiltre
{
	background-color:#DEEBFF;
	padding : 15px;
	border-radius: 90px;
	color: #0065FC;
	margin-left: -2px;
	font-size: 1.2em;
}

.filtres
{
	font-size: 16px;
	padding-top: 10px;
}

/*Infos*/
.fa-info
{
	color:#0065FC;
	font-size: 0.7em;
	text-align: center;
	padding: 6px ;
	border-style: solid;
	border-color:#DEEBFF ;
	border-radius: 90%;
	border-width: 1px;
	width: 10px;
}

.infos
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.txtinfos
{
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}

/*Hebergements et Populaires*/

main
{
	display:flex;
	justify-content:space-between;
	width: 100%;
}

main h5 a
{
	font-size: 14px;
	font-weight:bold;
	width: 80%;
	margin-left: 20px;
}

main h5 a:hover
{
	font-weight: bold;
}

main p
{
	font-size: 14px;
	margin: -15px 20px -15px 15px;
	width: 80%;
	margin-left: 20px;
}

.fa-star
{
	font-size: 0.8em;
}

.etoile
{
	display: flex;
	justify-content: flex-start;
	color: #F2F2F2;
	margin: 20px 0 15px 15px;
	padding-bottom: 10px;
	width: 80%;
	margin-left: 20px;
}

.etoilebleue
{
	color: #0065FC;
}

/*Hebergements*/

.hebergement img
{
	border-radius: 30px 30px 0 0 ;
	object-fit: cover;
    width: 100%;
    height: 50%;
	margin-bottom: -15px;
}

.hebergement
{
	background-color: #F2F2F2;
	border-radius: 30px ;
    width: 70%;
	height: 20%;
	display: flex;
    flex-wrap: wrap;
	padding: 30px;
}

.hebb {
    
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heb
{
    height: 200px;
	background-color: white;
	box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border: solid;
    border-color: white;
    border-width: 4px;
	border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
	width: 30%;
}


.hebimg {
    width: 200px;
	height: 100px;
}



.afficher a
{
	background-color: #F2F2F2;
	font-weight: bold;
	font-size: 15px;
}

/*Populaire*/

aside {
    background-color: #F2F2F2;
    border-radius: 30px;
    margin : 0 30px 0 30px;
}
.popu {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.pop {
    background-color: white;
    display: flex;
    border-radius: 30px;
    margin: 30px;
}
.pop img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 30px 0 0 30px;
    border: 4px solid white;
}
.pop a {
    max-width: 250px;
}


/*Activites*/

.activitesimg {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.activites img {
    object-fit: cover;
    width: 280px;
	border-radius: 30px 30px 0 0;
}
.txtact {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px;
}
.txtact h5 a
{
	margin-left: 20px;
	font-weight: bold;
    font-size: 14px;
}
.petiteimg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vieuxport
{
	height: 400px;
}

.parccalanques
{
	height: 400px;
}

.fortpomegues
{
	height: 180px;
}

.ilesfrioul
{
	height: 120px;
}

.notredamegarde
{
	height: 150px;
}

.parclongchamp
{
	height: 150px;
} 



/* Footer */
footer
{
	background-color: #F2F2F2;
    max-width: 100%;
    margin-top: 50px;
}

.footer-content
{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content p a
{
	font-size: 14px;
}

.basdepage p a
{
	background-color: #F2F2F2;
}

/*
@media screen and (max-width: 425px) {

	html {
		max-width: 425px;
	}
	main {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}
	.heb {
		width: 100%;
	}
	.hebergement {
		margin: 0;
		background-color: white;
		border-radius: 0;
		padding: 0;
		width: 90%;
	}
	.hebb {
		align-items: center;
	}
	.populaires {
		margin: 0;
		border-radius: 0;
	}
}

@media screen and (min-width: 426px) and (max-width: 768px) {

	body {
		background-color: yellow;
	}
	
}
/*
@media screen and (min-width:768px) and (max-width: 1024px) {

}
	

@media screen and (min-width:1440px) {
	.page {
		margin: auto;
	}
}
/*
@media all and (max-width:1024px)
{
	.page {
		width: 90%;
		margin: auto;
	}
	main {
		display: flex;
		flex-direction: column-reverse;
	}
	.pop img {
		width: 215px;
		height: 130px;
	}
	.popu {
		margin-bottom: 0;
	}
	.txthsoleil h5 a {
        font-size: 20px;
		max-width: none;
	}
	.hebergement h1 {
		margin: 50px 30px 30px 30px;
	}
	.txthsoleil p {
		font-size: 16px;
	}
	.hebergement {
		padding: 0;
		margin-top: 30px;
		width: 822px;
		margin: 30px auto 0 auto;
	}



	.activitesimg {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	
	.activites img {
		width: 700px;
		height: 200px;
		border-radius: 30px 30px 0 0;
	}
	.txtact {
		margin-top: 30px; 
	}

	footer {
		width: 100%;
		margin-top:20px;
	}
	
}








/*
@media all and  (max-width: 1024px)
{}
        .hebergement{
            max-width: 1024px;
			margin: auto;
        }

        .popu {
            display: flex;
			flex-direction: row;
            justify-content: space-between;
            margin: 30px;
        }
        .pop {
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            margin-top: 0;
        }
        .pop img {
            object-fit: cover;
            width: 300px;
            height: 100px;
            border-radius: 30px 30px 0 0;
            border: 4px solid white;
        }
        .boxpopu {
            display: flex;
			justify-content: space-around;
        }
		
		
        
        
}*/



/*
@media all (min-width: 1024px)
{
	body {
		width: 1000px;
		margin: auto;
	}
	main {
		display: flex;
		flex-direction: column-reverse;
		width: 980px;
	}
	aside {
		padding: 30px;
		margin: 0 0 30px 0;
	}
	.boxlespluspopu {
		display: flex;
		justify-content: space-around;
	}
	.boxpopu {
		margin: 0;
	}
	.popu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}
	.pop {
		background-color: white;
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		margin-top: 0;
	}
	.pop img {
		object-fit: cover;
		width: 200px;
		height: 100px;
		border-radius: 30px 30px 0 0;
		border: 4px solid white;
	}
	.pop h5 {
		max-width: 150px;
		margin-top: 0;
	}
	.hebergement {
		max-width: none;
	}
	.hebergement img {
		width: 250px;
	}
	.activitesimg {
		justify-content:space-around;
	}
	.activitesimg img {
		width: 380px;
	}
	.txtact {
		margin-bottom: 40px;
	}
	
}




@media all and  (max-width:768px)
{
    body {
		width: 768px;
		margin: auto;
	}
	main {
		display: flex;
		flex-direction: column-reverse;
		width: 768px;
	}
	aside {
		padding: 30px;
		margin: 0 0 30px 0;
		width: 768px;
	}
	.boxlespluspopu {
		display: flex;
		justify-content: space-around;
	}
}

@media all and  (max-width:600px)

{
	body {
		color: red;
	}
}








/*
@media  screen and (max-width: 1200px)
{
    body {
        max-width: 100%;
    }

    .ligne1 {
        display: flex;
        flex-direction: column;
        align-items: center;}

    .hebergement {
	width: 100%;
    display: flex;
    }

    .ligne2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heb{
	    width: 100% ;
        display: flex;
        flex-direction: row;
    } 
    .heb p {
        margin-top: 20px;
        padding: 0;
        
    }
    .hebergement {
	background-color: #F2F2F2;
	border-radius: 30px ;
	width: 80%;
    margin: 20px auto 20px auto;
	display: flex;
	flex-direction: column;
	padding: 30px;
}
.hebergement img {
    border-radius: 30px 0 0 30px;
    object-fit: cover;
    width: 50%;
    height: 200px;
    margin-bottom: -15px;
}
    main{
	    display:flex;
	    justify-content:space-between;
        flex-wrap: wrap-reverse;
        }
    .txthebmedia a {
        margin-left: 20px;
        font-size: 22px;
    }
    .txthebmedia p {
        font-size: 18px;
        margin-left: 20px;
    }
    .fa-star {
        font-size: 1.2em;
    }
    .etoile {
        margin: 20px;
        padding-top: 20px;
    }
    
    .populaires
{
	background-color: #F2F2F2;
	padding: 20px;
	margin-left: 20px;
	border-radius: 30px ;
	display: flex;
    flex-direction: column;
	justify-content: space-around;
}
.boxlespluspopu {
    display: flex;
    flex-direction: row;
}
.populaires img
{
	border-radius: 30px 30px 0 0 ;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	object-fit: cover;
	width: 200px;
	height: 100px;
}

.boxpopu
{
	display: flex;
    flex-direction: column;
	margin: 15px;
	padding-right: 15px;
    background-color: white ;
	box-shadow: 5px 5px 5px rgb(224, 224, 224);
	border-radius: 30px;
    height: 158px;
}

.popu
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
}























0

