/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'Raleway', sans-serif;
}



/* Header */

.bloc_page {
        width: 1440px;
        height: auto;
        margin: auto;
}

header {
    font-family: 'Raleway';
    font-size: 16px ;
}
body {
    font-family: "Raleway";
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight:500;
    cursor: pointer;
} 

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.boutons {
    display: flex;
}
.boutons :hover {
    border-top : 1px solid #0065FC;
}

.navigation a {
    padding: 40px 30px 0 30px;
}

.navigation a:hover {
    padding: 38px 30px 0 30px;
}


a:link, a:visited, a:focus {
    background: white;
}

a:hover {
    color: #0065FC;
    font-weight: 500;
}

a:active {
    color: black;
}

.logo {
    margin: 50px 0 20px 50px;
    width: 100px;
    height: auto;
    float:left;
} 

.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.three a {
    color: #0065FC;
    font-weight: 700;
}

.recherche h1 {
    font-weight: bold;
}


/* Section recherche */

.recherche {
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
}

.recherche h1 {
    font-size: 22px;
    font-weight:bold;
    margin-bottom: -10px;
}

.recherche p {
    font-size: 16px;
    font-weight:500;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 1.2em;
    padding : 20px ;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0 0 50px;
    align-items: flex-start;

}
.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -39px 0 0px 54px;
    padding: 16px;
    border-color: #F2F2F2;
    border-style:solid;
    width: 230px ;
    height: 23px ;
    font-size: 19px;
    font-weight:700;
}
::placeholder {
    color:black;
    padding: 20px 0 0 0;
}
.bouton
{ 
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.submit  {
    font-family: 'Raleway';
    margin: -39px -2px 0px 0px;
    padding: 17px;
    background-color: #0065FC;
    color: white;
    border-color:#0065FC ;
    border-style: solid;
    border-radius: 0 15px 15px 0;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

/* Filtres */

.categories
{
    display: flex;
    justify-content:baseline;
    align-items: flex-start;
    font-family: 'Raleway';
    text-align: center;
}

.categories a {
    font-weight: 900;
    font-size: 17px;
    text-align: center;
}

.filtres {
    font-size: 18px;
    margin-top: 33px;
}

.economique {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    width: 200px ;
    height: 42px ;
    margin: 20px;
}

.economique a {
    margin: 15px;
}

.fa-money-bill-wave {
    background-color:#DEEBFF;
    padding : 17px;
    border-radius: 90%;
    color: #0065FC;
    margin: 0 0 0 -2px;
}

.familial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    width: 150px ;
    height: 42px ;
    margin: 20px 20px 20px 10px;
}

.familial a {
    margin: 10px;
}

.fa-child {
    background-color:#DEEBFF;
    padding : 17px;
    border-radius: 30px ;
    color: #0065FC;
}

.romantique {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    width: 180px ;
    height: 42px ;
    margin: 20px;
}

.romantique a {
    margin: 10px;
}

.fa-heart {
    background-color:#DEEBFF;
    padding : 17px;
    border-radius: 30px ;
    color: #0065FC;
}

.animaux {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    width: 240px ;
    height: 42px ;
    margin: 20px;
}

.animaux a {
    margin: 0 0 0 10px ;
}

.fa-dog {
    background-color:#DEEBFF;
    padding : 17px;
    border-radius: 30px ;
    color: #0065FC;
}

.infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway';
}

.fa-info {
    color:#0065FC;
    font-size: 0.8em;
    padding: 6px 8px 10px 8px ;
    border-style: solid;
    border-color:#DEEBFF ;
    border-radius: 90%;
    border-width: 1px;
    height: 8px;
    margin: 10px;
}

.txtinfos {
    font-size: 14px;
    font-weight: 500;
}

/* Hebergement et populaires */

main {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.fa-star {
    font-size: 0.8em;
}

.etoile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #F2F2F2;
    margin: 20px 0 15px 15px;
}
.etoilebleue {
    color: #0065FC;
}

/*hebergement*/

.hebergement img {
    border-radius: 30px 30px 0 0 ;
    border-style: solid;
    border-color: white;
    object-fit: cover;
    width: 250px;
    height: 120px;
    margin: 0 0 -20px 0;
}

.hebergement {
    background-color: #F2F2F2;
    border-radius: 30px ;
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    padding: 30px;
    margin : 0 20px 0 0;
}

.hebergement h5 a{
    font-size: 14px;
    font-weight:900;
    margin : 0 0 0 15px;
    padding: 0 0 0 0;
}
.hebergement p {
    margin: -15px 0 -15px 15px;
    padding: 0 0 0 0;
}
.afficher a {
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 15px;
}


/*Premiere ligne*/

.ligne1 {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.hebcannebiere {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}

.hebhotelport {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}
.hebhotelmouettes {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}

/* 2eme ligne */

.ligne2 {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px ;

}
.hebhotelmer {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}

.hebaubergepanier {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}
.hebhotelamina {
    width: 256px ;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
    margin : 20px 20px 20px 0;
}

/*Populaires*/

.populaires img {
    
    border-radius: 30px 0 0 30px ;
    border-style: solid;
    border-color: white;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.populaires {
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px;
    margin: 0 0 0 20px;
    border-radius: 30px ;
    width: 70%;
    max-width: 350px;
    height: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
}
.populaires h5 a {
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 0 15px;
}
.populaires h1 {
    padding: 0 0 0 20px;
    font-size: 24px;
}
.populaires p {
    margin: -10px 0 50px 15px;
}
.popu {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}
.hotelbleublanc {
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.hsoleil {
    display: flex;
    margin: 15px;
    padding: 0 15px 0 0;
    background-color: white ;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    border-radius: 30px;
}

p {
    font-size: 12px;
    font-weight: 500;
}

/* Activites*/

.activites {
    font-family: "Raleway";
}
.activites h5 a {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 20px 20px ;
}

.activitesimg {
    display: flex;
    align-items: flex-start;
}
.activitesimg img {
    object-fit: cover;
    width: 300px;
    border-radius: 30px 30px 0 0;
}

.tactivite {
    background-color: white;
    font-family: "Raleway";
    margin: 50px 0 50px 0;
}

.vieuxport {
    object-fit: cover;
    height: 400px;
}

.vport {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 0 20px 20px 0;
}
.vport h5 a {
    margin: 0 0 0 20px;
}

.parccalanques {
    object-fit: cover;
    height: 400px;
}
.pcalanques h5 a {
    margin: 0 0 0 20px;
}

.fortpomegues {
    object-fit: cover;
    height: 180px; 
}

.fpomegues {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 0 20px 20px 20px;
}

.ilesfrioul {
    object-fit: cover;
    height: 120px;
}

.ifrioul {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 40px 20px 30px 20px;
}

.pcalanques {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 0 20px 20px 20px;
}
.notredamegarde {
    height: 150px;
}
.ndgarde {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 0 20px 20px 20px;
}
.parclongchamp {
    height: 150px;
}
.plongchamp {
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
    border-radius: 30px ;
    margin: 40px 20px 20px 20px;
}





/* Footer */
footer {
    font-family: "Raleway";
    background-color: #F2F2F2;
    width:auto;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
}
footer p a {
    font-size: 14px;
}
.apropos {
    margin: 20px 200px 20px 50px;
}

.noshebergements {
    margin : 20px 200px 20px 0 ;
}

.assistance {
    margin : 20px 200px 20px 0;
}
.basdepage p a {
    background-color: #F2F2F2;
}


